# Database
POSTGRES_DB=your-database-name
POSTGRES_USER=your-database-username
POSTGRES_PASSWORD=your-database-password

# Backend
ConnectionStrings__DefaultConnection=your-database-connection-string
Cors__AllowedOrigins__0=https://your-frontend-url.example
EmailSettings__Email=your-email@example.com
EmailSettings__Host=hostname-of-your-smtp-server example smtp-relay.brevo.com
EmailSettings__Port=port-of-your-smtp-server example 587
EmailSettings__Password=your-brevo-api-key
JWT__Token=your-super-secret-jwt-key-min-32-chars
JWT__Issuer=jwt-issuer
JWT__Audience=jwt-audience

# Frontend
NEXT_PUBLIC_API_URL=https://your-backend-url.example
