# Database
POSTGRES_DB=your-database-name
POSTGRES_USER=your-database-username
POSTGRES_PASSWORD=your-database-password

# Backend
ConnectionStrings__DefaultConnection=Host=database;Port=5432;Database=your-database-name;Username=your-database-username;Password=your-database-password
Cors__AllowedOrigins__0=https://your-frontend-url.example
EmailSettings__Email=your-email@example.com
EmailSettings__Host=hostname-of-your-smtp-server example smtp-relay.brevo.com
EmailSettings__Port=port-of-your-smtp-server example 587
EmailSettings__Password=your-brevo-api-key
JWT__Token=your-super-secret-jwt-key-min-32-chars
JWT__Issuer=jwt-issuer
JWT__Audience=jwt-audience
Cookies__Secure=true
# None if frontend & backend are cross-site, Lax if same-site (behind the nginx proxy = same-site)
Cookies__SameSite=None
# public api
PublicApi__ApiKey=your-public-api-key-random-min-32-chars
PublicApi__PermitLimit=60
PublicApi__WindowSeconds=60
ForwardedHeaders__Enabled=true

SuperAdmin__Email=your-superadmin@example.com
SuperAdmin__UserName=superadmin
SuperAdmin__Password=your-strong-superadmin-password

Swagger__Disabled=false


# Frontend
# Leave EMPTY for production
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SUPPORT_EMAIL=
